//colors
$main-color: #0e7a6d;
$main-color-1: #cbe8dd;
$main-color-2: #04b49d;
$main-color-3: #115a5f;
$main-color-50: #0e7a6d85;
$p-color: #888;
$grrey-text:#54595F;
$red-color: #CA4145;
$text-black: #343434;

//transition
$transition: 300ms;
